.field_edit_updated {
    color: #659c00 !important;
}

.field_edit_updated_fade {
    color: unset;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
